li {
    font-family: Tahoma,sans-serif;
}

h1 {
    font-family: 'Lucida Handwriting',cursive;
    padding: 8px;
    background-color: rgb(99, 170, 231);
    width: auto;
    color: white;
}

* {
    background-color: rgb(158, 191, 240);
    box-sizing: border-box;
    margin: 5px;
}

img {
    width: 200px;
    height: 100%;
}

ul {
    border: 1px solid rgb(168, 190, 209);
}

h2 {
    margin: 8px;
    background-color: rgb(99, 169, 230);
    width: auto;
    color: white;
    padding-left: 5px;
}

ol li {
    margin: 15px auto;
}
