li {
    font-family: Tahoma,sans-serif;
}

h1 {
    font-family: 'Lucida Handwriting',cursive;
}

.stroganoff {
    font-size: 22px;
}

* {
    background-color: azure;
}

#odin {
    color: #8a2be2;
}